# Data Analysis

Complete the following tasks related to data analysis for this project.

## Part 1

Read the `data/processed/2017-delays.csv` file into a dataframe.

## Part 2

Create a csv that contains the probability of a flight being delayed more than 30 minutes for each airport within the dataframe.

- There should be one row for each airport in the dataset.
- Name the csv `data/processed/delay-probabilities.csv`.

## Part 3

Create a csv that contains the mean airport arrival delay for each airport on each day within the dataframe. The mean airport arrival delay for airport $i$ on day $t$ is the mean of arrival delays for all flights arriving at airport $i$ on day $t$.

- Each row of the csv should contain the mean arrival delay for a single airport on a single day.
- Name the csv `data/processed/daily-mean-delays.csv`.
  
## Part 4

Create a csv that contains the mean and standard deviation of the mean airport arrival delays for each airport within the dataframe, across all days. The mean of the mean airport arrival delays for airport $i$ is the mean of mean airport arrival delays for airport $i$ over all days in the dataframe. The standard deviation of mean airport arrival delays for airport $i$ is the standard deviation of mean airport arrival delays for airport $i$ over all days in the dataframe.

- There should be one row for each airport in the dataset.
- Name the csv `data/processed/mean-std-delays.csv`.

## Hints

- Example 1 (Constructing DataFrame from a dictionary) from [here](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.html) might help you create a dataframe from 2 lists of values.
- Part 2 from lab 04 might help with Part 2.
- The pandas [groupby](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.groupby.html) function might be helpful for Part 3.
- Part 4 from lab 04 might help with Part 4.
- The pandas xs function might help with Part 4. See [here](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.xs.html) for documentation and [here](https://stackoverflow.com/questions/14964493/multiindex-based-indexing-in-pandas) for a stack overflow example.

In [8]:
import numpy as np
import pandas as pd

## Part 1 - Read data into a dataframe

In [9]:
bigframe_Delay = pd.read_csv('data/processed/2017-delays.csv')
bigframe_Delay

         Unnamed: 0     FL_DATE OP_UNIQUE_CARRIER ORIGIN DEST  ARR_DELAY
0                 0  2017-01-01                AA    JFK  LAX       27.0
1                 1  2017-01-01                AA    LAX  JFK       42.0
2                 2  2017-01-01                AA    LAX  JFK       42.0
3                 7  2017-01-01                AA    JFK  SFO      -22.0
4                 8  2017-01-01                AA    LAX  JFK      -30.0
...             ...         ...               ...    ...  ...        ...
1839457     5674583  2017-12-31                WN    TPA  PHL       -3.0
1839458     5674584  2017-12-31                WN    TPA  PHX        2.0
1839459     5674585  2017-12-31                WN    TPA  PHX       -7.0
1839460     5674597  2017-12-31                WN    TPA  STL       -4.0
1839461     5674598  2017-12-31                WN    TPA  STL        8.0

[1839462 rows x 6 columns]

## Part 2 - Calculate delay probabilities

In [22]:
# YOUR CODE HERE
total_count1 = bigframe_Delay.loc[bigframe_Delay['ARR_DELAY']>30]
total_count2 = total_count1.filter(['DEST','ARR_DELAY'])
total_count3 = total_count2.sort_values(['DEST'],ascending=True)# I intentially sorted the destinations in ascending order
total_count_frame = total_count3.groupby(['DEST']).size().reset_index() #In this case, the column on the right of total_frame4 shows the quantity(counts)corresponding to each airport on the left



# I picked random variable nmaes...total_count_frame is the final filtered dataframe
bigframe_Delay = bigframe_Delay.sort_values(['DEST'],ascending=True)
airports_Dest = list(total_count_frame['DEST'])

probability_list = []
for i in range(0,30): #there are only 30 different airlines in the DEST column (0th airline to 29th airline)
    probability = total_count_frame[0][i] / (bigframe_Delay.loc[bigframe_Delay['DEST']==airports_Dest[i]].shape[0])
    
    probability_list.append(probability)
    
df = pd.DataFrame(list(zip(probability_list,airports_Dest)),columns = ['delay_prob','AIRLINES'])
df.to_csv('data/processed/delay-probabilities.csv')

In [19]:
total_count_frame['DEST'].unique().size

30

In [23]:
df

    delay_prob AIRLINES
0     0.090128      ATL
1     0.145210      BOS
2     0.096333      BWI
3     0.081070      CLT
4     0.112255      DAL
5     0.100607      DCA
6     0.097771      DEN
7     0.096559      DFW
8     0.079909      DTW
9     0.192545      EWR
10    0.105877      FLL
11    0.110685      HOU
12    0.082765      IAH
13    0.169074      JFK
14    0.109254      LAS
15    0.140753      LAX
16    0.154132      LGA
17    0.104204      MCO
18    0.097072      MDW
19    0.109384      MIA
20    0.079158      MSP
21    0.101350      ORD
22    0.110323      PHL
23    0.094049      PHX
24    0.105167      SAN
25    0.112623      SEA
26    0.190686      SFO
27    0.087474      SLC
28    0.103800      STL
29    0.108480      TPA

## Part 3 - Calculate daily mean airport delays

In [12]:
daily_mean_delay = bigframe_Delay.groupby(['DEST','FL_DATE']).mean()


daily_mean_delay.to_csv('data/processed/daily-mean-delays.csv')
daily_mean_delay

                   Unnamed: 0  ARR_DELAY
DEST FL_DATE
ATL  2017-01-01  8.558469e+03   6.900312
     2017-01-02  2.063851e+04  24.286070
     2017-01-03  3.463805e+04  -1.661417
     2017-01-04  5.332651e+04  -3.650273
     2017-01-05  6.521672e+04  -1.082888
...                       ...        ...
TPA  2017-12-27  5.607592e+06   7.619718
     2017-12-28  5.622785e+06  13.071429
     2017-12-29  5.639634e+06  11.866197
     2017-12-30  5.653835e+06  17.547445
     2017-12-31  5.669189e+06   4.387931

[10950 rows x 2 columns]

## Part 4 - Calculate the mean of daily mean airport delays (over the entire time period)

In [13]:
# YOUR CODE HERE
bigframe_Delay = pd.read_csv('data/processed/2017-delays.csv')
daily_apt_means_std = bigframe_Delay.groupby(['DEST']).agg([np.mean,np.std]).reset_index() # I switched to Ethan's method here because it's lot more efficient than my orignal one

daily_apt_means_std.to_csv('data/processed/mean-std-delays.csv')

In [14]:
daily_apt_means_std
# the two columns on the far right are the desired data

   DEST    Unnamed: 0                ARR_DELAY
                 mean           std       mean        std
0   ATL  2.817522e+06  1.644575e+06   2.032871  46.689497
1   BOS  2.852316e+06  1.620843e+06   6.618463  45.223511
2   BWI  2.859406e+06  1.634365e+06   2.398086  32.635335
3   CLT  2.830093e+06  1.645016e+06   0.869615  36.599919
4   DAL  2.827228e+06  1.656722e+06   5.478702  31.872158
5   DCA  2.823146e+06  1.642234e+06   2.647105  38.880459
6   DEN  2.843044e+06  1.631718e+06   1.548991  36.976978
7   DFW  2.839313e+06  1.648060e+06   2.257873  48.705293
8   DTW  2.826220e+06  1.631680e+06  -0.187743  42.283943
9   EWR  2.829218e+06  1.644005e+06  11.431180  56.035474
10  FLL  2.765991e+06  1.671710e+06   3.387038  38.384390
11  HOU  2.835103e+06  1.662193e+06   4.717178  31.794996
12  IAH  2.815767e+06  1.658871e+06  -1.366501  42.463508
13  JFK  2.812787e+06  1.635029e+06   9.231794  64.634547
14  LAS  2.800167e+06  1.637470e+06   3.385406  35.915741
15  LAX  2.852492e+06  1.638681e+06   5.560412  42.806106
16  LGA  2.847213e+06  1.652519e+06   8.124671  49.463948
17  MCO  2.789506e+06  1.656574e+06   3.252574  38.100070
18  MDW  2.843814e+06  1.626972e+06   3.414524  31.908679
19  MIA  2.787382e+06  1.667965e+06   3.692172  48.435954
20  MSP  2.835283e+06  1.618601e+06  -1.312258  40.954842
21  ORD  2.903482e+06  1.627857e+06   1.825786  48.029462
22  PHL  2.844604e+06  1.633582e+06   3.241549  40.434833
23  PHX  2.779991e+06  1.654150e+06   2.565591  34.844062
24  SAN  2.866563e+06  1.632982e+06   3.155316  35.753888
25  SEA  2.979762e+06  1.568901e+06   2.599031  37.129782
26  SFO  2.928989e+06  1.617111e+06  12.512398  51.973030
27  SLC  2.798953e+06  1.644099e+06   1.514821  40.284808
28  STL  2.836260e+06  1.637025e+06   3.917469  33.698702
29  TPA  2.794407e+06  1.655317e+06   4.293022  37.486946